*{margin: 0;
padding: 0;}
.card{
  border: 2px solid black;
  max-width: 23vw;
}
.container{
  display: flex;
  gap: 34px;
  flex-wrap: wrap;
}

nav, ul {
  display: flex;
  gap: 20px;
  padding: 12px 3px;
  background-color: rgb(46, 46, 44);
  margin-bottom: 9px;
  color: white;
  position: relative;
  justify-content: flex-end; /* Align items to the right */
  margin-left: auto; /* Push elements to the right */
}

li{
  list-style: none;
}